@font-face {
    font-weight: 400;
    font-family: Roboto;
    src: url("../files/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-weight: 700;
    font-family: Roboto;
    src: url("../files/fonts/Roboto-Bold.ttf");
}

@font-face {
    font-weight: 400;
    font-family: 'Playfair Display';
    src: url("../files/fonts/PlayfairDisplay-Regular.ttf");
}

@font-face {
    font-weight: 700;
    font-family: 'Playfair Display';
    src: url("../files/fonts/PlayfairDisplay-Bold.ttf");
}


body {
    margin: 0;

    font: 16px/1.5 Roboto, sans-serif;

    background-color: $light-gray;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}