.nav {
    &-top {
        position: absolute;
        top: 0;

        width: 100%;

        background-color: $light;
        box-shadow: 0 2px 3px 2px $dark;

        &-header {
            display: flex;
            justify-content: center;
            margin: 20px auto;
        }
    }
}