.form {
    &-container * { transition: .1s linear; }

    &-container {
        width: 600px;
    }
}

.comment {
    &-single {
        display: flex;
        justify-content: center;
        margin-top: 150px;
        margin-bottom: 50px;
    }

    &-form {
        display: flex;
        flex-direction: column;
        padding: 20px 30px;

        font: bold 14px/1.5 "Playfair Display", serif;

        background-color: $grayish-orange;
        border-radius: 30px;
        box-shadow: 0 1px 5px 3px $dark;

        h2 {
            margin-top: 0;
            margin-bottom: 25px;

            text-align: center;
        }

        &-submit {
            box-sizing: border-box;
            width: max-content;
            margin: 15px;
            padding: 7px;

            font-weight: bold;

            background-color: $light;
            border: none;
            border-radius: 5px;
            box-shadow: 0 1px 5px 3px $dark;

            cursor: pointer;
        }

        span {
            color: red;
            font-size: 12px;
            white-space: nowrap;
            text-align: center;

            i {
                color: seagreen;
            }
        }
    }
}

.field {
    position: relative;

    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
    margin: 10px 20px;

    text-align: end;

    label {
        font: bold 14px/1.5 "Playfair Display", serif;
        white-space: nowrap;
    }

    input, textarea {
        width: 75%;
        padding: 5px 10px;

        border: none;
        border-radius: 10px;
    }

    &-content {
        align-items: flex-start;

        label {
            padding-top: 5px;
        }
    }
}

::placeholder {
    font-size: 14px;
    font-style: italic;
}

#field-date {
    margin-right: 15px;
}

.invalid {
    border: 2px solid red;
    box-shadow: 0 0 5px 1px red;
}

@media (max-width: 650px) {
    .form {
        &-container {
            width: auto;
            margin-right: 10px;
            margin-left: 10px;
        }
    }
}